## Configurando o MySQL com Python

Neste momento, vamos configurar a integração entre o MySQL e Python. Isso nos permitirá executar consultas, inserções e outras operações no banco de dados MySQL usando o Python como nossa linguagem de programação principal.

In [1]:
import os
from dotenv import load_dotenv
import mysql.connector 

load_dotenv()

True

In [2]:
cnx = mysql.connector.connect(
    host = os.getenv("DB_HOST"),
    user =  os.getenv("DB_USERNAME"),
    password=os.getenv("DB_PASSWORD")
)

print(cnx)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7be4c0c56c50>

Criaremos um cursor, que é um objeto utilizado para executar instruções SQL no contexto do Python. Essse cursor nos permitirá enviar consultas e comandos SQL para o banco de dados MySQL por meio da conexão estabelecida e obter os resultados de volta para serem processados em nosso código Python

In [ ]:
cursor = cnx.cursor()

## Criando uma base de dados

O método `execute()` é usado para compilar uma instrução SQL

In [ ]:
sqlQuery = 'CREATE DATABASE IF NOT EXISTS dbprodutos;'
cursor.execute(operation=sqlQuery)

In [ ]:
sqlQuery = "SHOW DATABASES;"
cursor.execute(operation=sqlQuery)

for db in cursor:
    print(db)

## Criando uma tabela

Antes de criar nossa tabela, vamos revisar as colunas necessárias que precisaremos incluir nela. Essa etapa é importante para garantir que nossa tabela seja projetada corretamente, atendendo aos requisitos de armazenamento e organização dos dados.

In [ ]:
import pandas as pd

df_livros = pd.read_csv('../data/tabela_livros.csv')
df_livros

In [ ]:
df_livros.columns

In [ ]:
df_livros.info()

In [ ]:
# portanto sao 742 linhas e 13 colunas
df_livros.shape

In [ ]:
cursor.execute("""
    CREATE TABLE IF NOT EXISTS dbprodutos.tb_livros(    
            id VARCHAR(100),                  
            Produto VARCHAR(100),               
            Categoria_Produto VARCHAR(100),   
            Preco FLOAT(10,2),                 
            Frete FLOAT(10,2),                 
            Data_Compra DATE,      
            Vendedor VARCHAR(100),               
            Local_Compra VARCHAR(100),        
            Avaliação_Compra INT,
            Tipo_Pagamento VARCHAR(100),      
            Qtd_Parcelas INT,
            Latitude FLOAT(10,2),               
            Longitude FLOAT(10,2),  

            PRIMARY KEY (id)   
    );
"""
)

**Selecionando a base de dados para verificar a tabela criada**

In [ ]:
sql = "USE dbprodutos;"
cursor.execute(operation=sql)

sql = "SHOW TABLES;"
cursor.execute(operation=sql)

for tb in cursor:
    print(tb)

## Inserindo os dados do csv na tabela

Para inserir os dados na tabela do MySQL, é necessário percorrer cada linha do DataFrame e transformá-las em tuplas. Essa abordagem permite que mapeemos os dados do DataFrame para as colunas correspondentes da tabela do MySQL de forma eficiente e precisa.

In [ ]:
for i, row in df_livros.iterrows():
    print(tuple(row))

In [ ]:
lista_dados = [tuple(row) for i, row in df_livros.iterrows()]
lista_dados

In [ ]:
sql = 'INSERT INTO dbprodutos.tb_livros VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);'

cursor.executemany(sql, lista_dados)
cnx.commit()

In [ ]:
print(cursor.rowcount, 'dados inseridos de livros')

In [ ]:
df_produtos_2021 = pd.read_csv('../data/tabela_produtos_2021_em_diante.csv')
df_produtos_2021

In [ ]:
df_produtos_2021.columns

In [ ]:
df_produtos_2021.info()

In [ ]:
df_produtos_2021.shape

In [ ]:
lista_produtos = [tuple(row) for i, row in df_produtos_2021.iterrows()]
lista_produtos

In [ ]:
sql = """
    CREATE TABLE IF NOT EXISTS dbprodutos.tb_produtos_2021_em_diante(
           id VARCHAR(100),                  
            Produto VARCHAR(100),               
            Categoria_Produto VARCHAR(100),   
            Preco FLOAT(10,2),                 
            Frete FLOAT(10,2),                 
            Data_Compra DATE,      
            Vendedor VARCHAR(100),               
            Local_Compra VARCHAR(100),        
            Avaliação_Compra INT,
            Tipo_Pagamento VARCHAR(100),      
            Qtd_Parcelas INT,
            Latitude FLOAT(10,2),               
            Longitude FLOAT(10,2),  

            PRIMARY KEY (id)
    );
"""

cursor.execute(operation=sql)

In [ ]:
sql = 'INSERT INTO dbprodutos.tb_produtos_2021_em_diante VALUES (%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s);'

cursor.executemany(sql, lista_produtos)
cnx.commit()

In [ ]:
print(cursor.rowcount, 'dados inseridos de produtos')

## Visualizando os dados inseridos

In [ ]:
sql = 'SELECT * FROM dbprodutos.tb_livros;'
cursor.execute(operation=sql)

for row in cursor:
    print(row)

In [ ]:
cursor.close()

In [ ]:
cnx.close()